.portfolio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  padding: 2em;
  background-color: rgb(255, 255, 255);
}

.repo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0 4em 0 3em;
  margin: 1em 0 0 0;
  padding-left: 10px;

  box-shadow: rgba(194, 150, 150, 0.25) 0px 54px 55px,
    rgba(208, 188, 188, 0.12) 0px -12px 30px,
    rgba(163, 117, 117, 0.12) 0px 4px 6px, rgba(143, 9, 9, 0.17) 0px 12px 13px,
    rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

.list-item {
  margin-right: 10px;
}

.git-repo {
}

.title-top {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 100px;
}

.repo-container-upper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0 0 1em;
}

.repo-container-middle ul li {
  display: flex;
  font-family: "Courier New", Courier, monospace;
}

h4 {
  text-align: center;
  margin-top: 20px;
  color: rgb(0, 0, 0);
  font-size: 10px;
  margin-bottom: 3px;
}

.github-icon {
  width: 4em;
}

.github-icon:hover {
  cursor: pointer;

  transform: scale3d(1.3, 1.3, 1.3);
}
