.header {
  height: 70px;
  width: 100%;
  transition: 0.3s ease-in;
  background-color: rgb(230, 220, 220);
  border-bottom: 0.03px solid rgb(216, 197, 197);
  overflow: hidden;
}

.header .navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  border-bottom: #000000;
}

.navbar ul {
  border-radius: 4px;
  overflow: hidden;
}

.navbar li:hover a::before {
  right: 0;
  left: 0;
}

.navbar a {
  color: #848484;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  padding: 25px 0;
  display: block;
  position: relative;
  transition: all 0.3s ease;
}
.navbar a:hover {
  color: #000000;
}
.navbar a::before {
  content: "";
  transition: all 0.4s ease-in-out;
  position: absolute;
  right: 50%;
  left: 50%;
  bottom: 0;
  height: 2px;
  background-color: #917774;
}
.navbar a:hover::before {
  right: 0;
  left: 0;
}

.navbar li {
  float: left;
  width: 50%;
  padding: 1rem;
}

.header .nav-menu a {
  color: #372323;
}

.header .nav-menu {
  display: flex;
}

.header .nav-item {
  padding: 1rem;
  font-weight: 500;
}

.header .nav-item a:hover {
  padding-bottom: 12px;
}

.hamburger {
  display: none;
}

@media screen and (max-width: 940px) {
  .header {
    max-width: 100%;
    background-color: rgb(230, 220, 220);
  }

  .header .navbar {
    max-width: 100%;
  }

  .hamburger {
    display: block;
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 90px;
    flex-direction: column;
    background-color: rgb(230, 220, 210);
    width: 100%;
    height: 90vh;
    z-index: 999;
    text-align: center;
    transition: 0.3s;
    align-items: center;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-item {
    margin: 1.5rem 0;
  }

  .header .navbar img {
    width: 150px;
  }
}
